.guide-tooltip {
	height: auto;
	position: absolute;
	cursor: pointer;
	position: fixed;
	z-index: 99993;
	&.guide-tooltip-center {
		.guide-joints {
			display: none;
		}
	}
	&.guide-tooltip-top {
		display: flex;
		flex-direction: column;
		.guide-joints {
			order: 1;
		}
		.joints-triangle {
			transform: rotate(180deg);
		}
		.joints-line {
			width: 2px;
			height: 40px;
		}
	}
	&.guide-tooltip-bottom {
		display: flex;
		flex-direction: column;
		.guide-joints {
		}
		.joints-triangle {
		}
		.joints-line {
			width: 2px;
			height: 40px;
		}
	}
	&.guide-tooltip-left {
		display: flex;
		.guide-joints {
			order: 1;
		}
		.joints-triangle {
			transform: rotate(90deg);
		}
		.joints-line {
			width: 40px;
			height: 2px;
		}
	}
	&.guide-tooltip-right {
		display: flex;
		.joints-triangle {
			transform: rotate(-90deg);
		}
		.joints-line {
			width: 40px;
			height: 2px;
		}
	}
	.guide-joints {
		margin: auto;
		&.joints-triangle {
			border-style: solid;
			border-width: 0 10px 20px 10px;
			border-color: transparent transparent#ffffff transparent;
			width: 0px;
			height: 0px;
		}
		&.joints-line {
			background: #2878ff;
		}
	}
	.guide-tooltip-main {
		width: 100%;
		background: #ffffff;
		border: 2px solid #2878ff;
		box-sizing: border-box;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
		border-radius: 12px;
		padding: 24px;
		.guide-container {
		}
		.guide-button-box {
			display: flex;
			justify-content: flex-end;
			overflow: hidden;
			.guide-button {
				padding: 6px 16px;
				font-family: PingFang SC;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				letter-spacing: 1px;
				color: #ffffff;
				cursor: pointer;
				background: #2878ff;
				border-radius: 4px;
				margin: 5px;
			}
		}
	}
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
}
